// fonts variables
$f1: 'Roboto Light', Arial, sans-serif;
$f2: 'Roboto Regular', Arial, sans-serif;
$f3: 'Roboto Medium', Arial, sans-serif;
$f4: 'Roboto Bold', Arial, sans-serif;


// reset  basic styles
$baseFontFamily: $f2;
$baseFontSize: 14px;
$baseLineHeight: 1.4;
$textColor: #000;
$bodyBackground: #efeff2;
